@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, ::after, ::before{ margin: 0; box-sizing: border-box;}

/* html tags reset */
a{text-decoration: none;}
button{cursor: pointer; padding: 0;}
label{display: block;}
img{vertical-align: bottom;}
span{margin-right: 5px;}
ul{text-decoration: none; padding:0;}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    font-size: 15px;
    --ff: "Montserrat", sans-serif;
    --ffl:"Lato", sans-serif;;
    --yellow:#dbc821;
    --sky-blue:#00a4ff;
}

body{font-size: 16px; font-family:var(--ff);}


/* utility class */

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{display: flex; flex-flow: row wrap; margin: 0 -1rem;}
[class^="col"]{flex: 1 0 auto; padding: 0 1rem;}

.col-4{ flex-basis:33.33%; max-width: 33.33%;}
.col-12{ flex-basis:100%; max-width: 100%;}

.flex{ display: flex; }
.justify-evenly{justify-content: space-evenly;}
.justify-center{ justify-content: center;}
.gap{gap: 1rem;}

.btn{ border: none; border-radius: 10px; background: var(--yellow); padding: 1rem 2rem; font: medium 1rem var(--ff);}
.img-res{width: 100%; height: 170px; border-top-right-radius: 10px;}

/* custom css */


h1{font-size: 32px; text-align: center; margin:.8rem auto; color: #17777b;}
#search{ padding: 30px 10px; }
#search #food{width: 80%; font-size: 22px; padding: .6rem 1rem; border: 1px solid gray; border-radius: 10px;}

#food-box{ padding: 1rem;}
#food-box h3{text-align: center; font-size: 28px; font-weight: 600; margin: 1rem auto;}

.box-recipe{ margin-bottom: 2rem;}

.card {
    border: 1px solid #b1afaf;
    border-radius: 10px;
    height: 350px;
    overflow: scroll;
    box-shadow: 2px 2px 5px;
    scrollbar-width: none;
    scrollbar-color: #ddd #0000; /* Thumb and track colors */
    position: relative;
}

.card h4{ font-size: 1.2rem; font-weight: 500; color: #282728; text-align: center; padding: .5rem;}
.card li{font-size: 1rem; font-weight: 300; color: #7b7173; padding:0 1rem .6rem 1rem ; }
.card button{font-size: 1rem; background:#fff; border: none; position: absolute; bottom: 50px; right: 25px;}
.card p{font-size: 1.2rem; padding: .2rem 1rem; color: #282828;}


@media screen and (max-width:1225px){
    html{ font-size: 13px;}
    
}

@media screen and (max-width:980px){
    .col-t-6{ flex-basis: 50%; max-width: 50%;}
    
}

@media screen and (max-width:767px){
    html{ font-size: 12px;}
    
}

@media screen and (max-width:460px){
    .col-mp-12{flex-basis: 100%; max-width: 100%;}
    .card{height: 300px;}
    
}